<!-- Section1 -->
<div id="section1" class="row">
  <div class="random-image">
    <%= image_tag "poster_1.jpg" %></div>

</div>
<!-- //Section1 -->
<!-- Section2 -->
<div id="section2" class="row">
  <div class="section2-1 col-md-4 ">
    <div class="text-center shadow-box">
      <div class="view mask-style">
        <%= image_tag "build.png" %>
        <div class="mask mask-1">&nbsp;</div>
        <div class="mask mask-2">&nbsp;</div>
        <div class="content">
          <h2>柳州网站建设</h2>
          <p>现实与应用专注于柳州网站建设多年，具有丰富的网站建设经验，能够迅速、准确、专业地满足您对于网站建设的各种需求。</p>
          <a class="info btn btn-danger" href="/yeahzan-build.html">网站建设详情</a></div>
    </div></div>

  </div>
  <div class="section2-2 col-md-4 ">
    <div class="text-center shadow-box">
      <div class="view mask-style">
        <%= image_tag "design.png" %>
        <div class="mask mask-1">&nbsp;</div>
        <div class="mask mask-2">&nbsp;</div>
        <div class="content">
          <h2>柳州网站设计</h2>
          <p>现实与应用专注于柳州网站设计多年，我们追求精心出彩的设计与贴心优雅的用户体验，如果您在网站建设中苦于没有优秀的设计师，我们愿助您一臂之力。</p><a class="info btn btn-warning" href="/yeahzan-design.html">网站设计详情</a>
        </div>
    </div></div>

  </div>
  <div class="section2-3 col-md-4 ">
    <div class="text-center shadow-box">
      <div class="view mask-style">
        <%= image_tag "theme.png" %><br>
        <div class="mask mask-1">&nbsp;</div>
        <div class="mask mask-2">&nbsp;</div>
        <div class="content">
          <h2>Zanblog主题发布</h2>
          <p>这是全新的免费WordPress主题，采用Bootstrap框架、扁平化设计、清爽干净的配色风格，为炎炎夏日增添些许清凉！</p>
          <a class="info btn btn-info" href="/blog/item/42-74.html" target="_blank">Zanblog主题下载</a></div>
    </div></div>

  </div>
</div>
<!-- //Section2 -->
