<!-- Section1 -->
<div id="section1" class="row">
  <div class="random-image">
    <%= image_tag "home/poster_1.jpg" %></div>

</div>
<!-- //Section1 -->
<!-- Section2 -->
<div id="section2" class="row">
  <div class="section2-1 col-md-4 ">
    <div class="text-center shadow-box">
      <div class="view mask-style">
        <%= image_tag "home/build.png" %>
        <div class="mask mask-1">&nbsp;</div>
        <div class="mask mask-2">&nbsp;</div>
        <div class="content">
          <h2>杭州网站建设</h2>
          <p>佚站互联专注于杭州网站建设多年，具有丰富的网站建设经验，能够迅速、准确、专业地满足您对于网站建设的各种需求。</p>
          <a class="info btn btn-danger" href="/yeahzan-build.html">网站建设详情</a></div>
    </div></div>

  </div>
  <div class="section2-2 col-md-4 ">
    <div class="text-center shadow-box">
      <div class="view mask-style">
        <%= image_tag "home/design.png" %>
        <div class="mask mask-1">&nbsp;</div>
        <div class="mask mask-2">&nbsp;</div>
        <div class="content">
          <h2>杭州网站设计</h2>
          <p>佚站互联专注于杭州网站设计多年，我们追求精心出彩的设计与贴心优雅的用户体验，如果您在网站建设中苦于没有优秀的设计师，我们愿助您一臂之力。</p><a class="info btn btn-warning" href="/yeahzan-design.html">网站设计详情</a>
        </div>
    </div></div>

  </div>
  <div class="section2-3 col-md-4 ">
    <div class="text-center shadow-box">
      <div class="view mask-style">
        <%= image_tag "home/theme.png" %><br>
        <div class="mask mask-1">&nbsp;</div>
        <div class="mask mask-2">&nbsp;</div>
        <div class="content">
          <h2>Zanblog主题发布</h2>
          <p>这是全新的免费WordPress主题，采用Bootstrap框架、扁平化设计、清爽干净的配色风格，为炎炎夏日增添些许清凉！</p>
          <a class="info btn btn-info" href="/blog/item/42-74.html" target="_blank">Zanblog主题下载</a></div>
    </div></div>

  </div>
</div>
<!-- //Section2 -->
<!-- Section6 -->
<div id="section6" class="row">
  <div class="section6-1 col-md-4 ">
    <ul class="zoo-item-list zoo-list">
      <li>
        <div class="layout-default ">
          <p class="title"> <a title="Parallels Desktop，Mac前端调试利器" href="/blog/item/42-83.html">Parallels Desktop，Mac前端调试利器</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>
      </div></li>
      <li>
        <div class="layout-default ">
          <p class="title"> <a title="优秀图标设计分享" href="/blog/item/42-82.html">优秀图标设计分享</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>
      </div></li>
      <li>
        <div class="layout-default ">
          <p class="title"> <a title="Bootstrap2和3的区别与选择指南" href="/blog/item/42-81.html">Bootstrap2和3的区别与选择指南</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>
      </div></li>
      <li>
        <div class="layout-default ">
          <p class="title"> <a title="FontAwesome 4.0.1 发布，使用指南" href="/blog/item/42-80.html">FontAwesome 4.0.1 发布，使用指南</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>





      </div></li>
      <li>
        <div class="layout-default ">


          <p class="title"> <a title="icon图标，网站设计点睛之笔" href="/blog/item/42-79.html">icon图标，网站设计点睛之笔</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>





      </div></li>
    </ul>


  </div>
  <div class="section6-2 col-md-4 ">


    <ul class="zoo-item-list zoo-list">
      <li>
        <div class="layout-default ">


          <p class="title"> <a title="Web前端开发解耦浅谈" href="/blog/item/42-36.html">Web前端开发解耦浅谈</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>





      </div></li>
      <li>
        <div class="layout-default ">


          <p class="title"> <a title="优秀图标设计分享" href="/blog/item/42-82.html">优秀图标设计分享</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>





      </div></li>
      <li>
        <div class="layout-default ">


          <p class="title"> <a title="移动优先，如何快速进行网站跨设备测试" href="/blog/item/42-55.html">移动优先，如何快速进行网站跨设备测试</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>





      </div></li>
      <li>
        <div class="layout-default ">


          <p class="title"> <a title="三大CMS系统王者之争完结篇：脱胎换骨的Joomla" href="/blog/item/42-65.html">三大CMS系统王者之争完结篇：脱胎换骨的Joomla</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>





      </div></li>
      <li>
        <div class="layout-default ">


          <p class="title"> <a title="Bootstrap3前端框架RC版本发布！" href="/blog/item/42-66.html">Bootstrap3前端框架RC版本发布！</a> </p>

          <p class="meta"><span class="element element-relateditems first last">
              Benz</span></p>





      </div></li>
    </ul>


  </div>
  <div class="section6-3 col-md-4 ">
    <ul class="category-module  ">
      <li>
        <h5>
          <a class="mod-articles-category-title " href="/yeahzan-tips/76-web-css-hack.html">
            网站建设知识：什么是CSS Hack        </a>
        </h5>


      </li>
      <li>
        <h5>
          <a class="mod-articles-category-title " href="/yeahzan-tips/75-web-style.html">
            网站建设知识：选择你的网站风格        </a>
        </h5>


      </li>
      <li>
        <h5>
          <a class="mod-articles-category-title " href="/yeahzan-tips/74-web-mirror.html">
            网站建设基础知识：如何防止被恶意镜像        </a>
        </h5>


      </li>
      <li>
        <h5>
          <a class="mod-articles-category-title " href="/yeahzan-tips/69-web-basic-structure.html">
            网站建设基础知识：快速编写网站基础结构        </a>
        </h5>


      </li>
      <li>
        <h5>
          <a class="mod-articles-category-title " href="/yeahzan-tips/68-web-basic-js.html">
            网站建设基础知识：什么是JS        </a>
        </h5>


      </li>
    </ul>

  </div>
</div>
<!-- //Section6 -->
