<div id="major">
  <div class="">
  </div>
  <div id="system-message-container">
    <div id="system-message">
    </div>
  </div>
  <div class="item-page">
    <address>
      <strong>销售咨询</strong>
      <br>
      <abbr class="glyphicon glyphicon-earphone" data-original-title="联系电话" data-placement="left">
      </abbr> 18978098728<br>
      <abbr class="glyphicon glyphicon-envelope" data-original-title="电子邮箱" data-placement="left">
      </abbr>
      <div style="display:inline-flex">destinyd_ror<img alt="@" src="/assets/at.gif">163.com</div>
    </address>
    <address>
      <strong>技术支持</strong>
      <br>
      <abbr class="glyphicon glyphicon-earphone" data-original-title="联系电话" data-placement="left">
      </abbr> 18978098728<br>
      <abbr class="glyphicon glyphicon-envelope" data-original-title="电子邮箱" data-placement="left">
      </abbr>
      <div style="display:inline-flex">destinyd_ror<img alt="@" src="/assets/at.gif">163.com</div>
    </address>
    <address>
      <strong>信息反馈</strong>
      <br>
      <abbr class="glyphicon glyphicon-earphone" data-original-title="联系电话" data-placement="left">
      </abbr> 18978098728<br>
      <abbr class="glyphicon glyphicon-envelope" data-original-title="电子邮箱" data-placement="left">
      </abbr>
      <div style="display:inline-flex">destinyd_ror<img alt="@" src="/assets/at.gif">163.com</div>
    </address>
    <address>
      <abbr class="glyphicon glyphicon-map-marker" data-original-title="联系地址" data-placement="left">
      </abbr> 浙江省杭州市下沙学源街68号<br>
      <abbr class="glyphicon glyphicon-time" data-original-title="办公时间" data-placement="left">
      </abbr> 周一至周五 09:00-19:00<br>
      <abbr class="glyphicon glyphicon-comment" data-original-title="QQ咨询" data-placement="left">
      </abbr>
      <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=50335080&amp;site=qq&amp;menu=yes" target="_blank"> 50335080</a>
    </address>		
  </div>
</div>
