<div id="links">
  <div class="container">
    <div class="links span2 ">
      <div class="moduletable">

        <h4 class="">关于</h4>

        <ul class="">
          <li class="item-102"><a href="#">关于我们</a></li><li class="item-162"><a href="#">版权声明</a></li><li class="item-163"><a href="#">免责声明</a></li><li class="item-164"><a href="#">网站地图</a></li></ul>

      </div>


    </div>
    <div class="links span2 ">
      <div class="moduletable">

        <h4 class="">业务</h4>

        <ul class="">
          <li class="item-178"><a href="#">柳州网站建设</a></li><li class="item-179"><a href="#">柳州网站设计</a></li><li class="item-180"><a class="nofollow" href="#">柳州主机租赁</a></li></ul>

      </div>


    </div>
    <div class="links span2 ">
      <div class="moduletable">

        <h4 class="">联系</h4>

        <ul class="">
          <li class="item-182"><a href="#">联系我们</a></li><li class="item-248"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2824564292&amp;site=qq&amp;menu=yes">在线咨询</a></li></ul>

      </div>


    </div>
    <div class="links span2 ">
      <div class="moduletable">

        <h4 class="">支持</h4>

        <ul class="">
          <li class="item-184"><a href="#">佚站博客</a></li><li class="item-185"><a href="#">网站案例</a></li><li class="item-183"><a href="#">网站建设知识</a></li><li class="item-250"><a href="#" target="_blank">Zanblog</a></li><li class="item-251"><a href="#" target="_blank">Bootstrap</a></li></ul>

      </div>


    </div>
    <div class="links span2 ">
      <div class="moduletable">

        <h4 class="">案例</h4>

        <ul class="">
          <li class="item-186"><a href="#">科技网站</a></li><li class="item-187"><a href="#">数码网站</a></li><li class="item-252"><a href="#">Bootstrap网站</a></li><li class="item-188"><a href="#">电器网站</a></li><li class="item-189"><a href="#">餐饮网站</a></li></ul>

      </div>


    </div>
    <div class="links span2 ">
      <div class="moduletable">

        <h4 class="wx-stamp">微信关注</h4>

        <ul class="">
          <li class="item-237 divider"><span class="separator">
              <!--
              <img src="/ui/img/weixin.png" alt="现实与应用微信">
              -->
            </span>
        </li></ul>

      </div>


    </div>
  </div>
</div>
<div id="copyright">
  <div class="container">
    <ul class="list-inline">
      <%= render "layouts/friend_links" %>
    </ul>
    <div class="copyright"> Copyright © 2013 现实与应用REALITYANDAPP.COM - 用心创造每一站, All Rights Reserved. <a href="#">柳州网站建设</a>, <a href="#">柳州网站设计</a>, <a href="#">柳州网站制作</a>  
      <!--<a href="http://tongji.baidu.com/hm-web/welcome/ico?s=994c57aedfc1779e135da9839e946ed9" class="icon-baidu" target="_blank" rel="nofollow"><div class="baidu-icon"></div></a>-->
    </div>
  </div>
</div>
